@import url(https://db.onlinewebfonts.com/c/8f3bca6efd25a114cb3ea14726d7242a?family=Oli+Grotesk+L+Regular);


.widget-button {
    position: absolute;
    right:  0px;
    bottom: 0px;
    padding: 20px;
}
.chatIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px;
    gap: 15px;

}
.botDetails{
    padding:5px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
}
.botName{
    font-size: 20px;
    font-weight: 400;
    font-family: "Oli Grotesk L Regular";
}
.card{
    width: 477px;
    height: 560px;
    z-index: 50;
    box-shadow: 0px 0px 8px 8px #22a4;
    position: relative;
    margin-right: 5px;
    margin-bottom: 10px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.hover-effect {
border: none;
padding:5px;
}

.footer{
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    
}
.footer-statement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15PX;
    gap:5px;
}
.powered-by{
    font-size: larger;
    font-family: Oli Grotesk;
}
.novagito-logo img{
    height: 20px;
    background-color: #FFF;
   
}
.query{
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: #0057cb;
}
.text-field{
    padding-top: 5px;
    width:461px;
    padding-left:8px;
    padding-right: 8px;
    height: 42;
    justify-content:center;
    border-radius: 23px;
}
.floating-button {
  position: relative;
  display: flex;
  margin-right: 5px;
  justify-content: flex-end;
}
.message-container::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}
.message-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

.message-container::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar thumb */
  border-radius: 6px; /* roundness of the scrollbar thumb */
}

.message-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar thumb on hover */
}
.bot-query {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 10px;
    width: 70%;
}
.query{
    display: flex;
    align-items: end;
    justify-content: end;
    color: #D9DDFF;
    width: fit-content;
    padding: 10px;
    border-radius: 14px;
}
.bot-response {
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
    padding: 10px;
    width: 70%;
}
.response{
    display: flex;
    align-items: end;
    justify-content: end;
    width: fit-content;
    padding: 10px;
    color: #000;
    border-radius: 14px;
}
